[submodule "src/components/header"]
	path = src/components/header
	url = https://github.com/felipemrvieira/itec-cms-header.git
[submodule "src/components/menu"]
	path = src/components/menu
	url = https://github.com/felipemrvieira/itec-cms-menu.git
[submodule "src/components/submenu"]
	path = src/components/submenu
	url = https://github.com/felipemrvieira/itec-cms-submenu.git
[submodule "src/components/banner"]
	path = src/components/banner
	url = https://github.com/felipemrvieira/itec-cms-banner.git
[submodule "src/components/iframe"]
	path = src/components/iframe
	url = https://github.com/felipemrvieira/itec-cms-iframe.git
[submodule "src/components/footer"]
	path = src/components/footer
	url = https://github.com/felipemrvieira/itec-cms-footer.git
[submodule "src/components/itens"]
	path = src/components/itens
	url = https://github.com/felipemrvieira/itec-cms-itens.git
